.credStudentImage{
    height: 80px;
}

.credDivTitles{
    display: flex;
    background-color:var(--color1);
    color: white;
    font-size: 13px;
    font-weight: bold;
    width: 645px;
    margin: auto;
    column-gap: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    top:40px;
    border-left:var(--color1) solid 2px;
    border-right:var(--color1) solid 2px;
}

.credTitles{
    width:320px;
    text-align: center;
}

.credDivData{
    display: flex;
    justify-content: center;
    margin-top:0px;
    column-gap: 5px;
    position: relative;
}

.credDivData2{
    border:var(--color1) solid 2px;
    width: 320px;
    height: 220px;
    border-radius: 30px;
}

.credDivData3{
    margin-top:45px;
    margin-left:5px;
    font-size: 11px;
}

.credDivData4{
    margin-bottom: 5px;
}

.credDivSignatures{
    display: flex;
    border-bottom:var(--color1) solid 1.5px;
    padding-bottom: 3px;
    height: 65px;
    margin-top: -10px;
}

.credDivSignature{
    padding-left:5px;
    padding-right: 5px;
    margin-left: 3px;
}

.credSignature{
    margin-top: 10px;
    margin-left: 55px;
    height: 45px;
}

.credDivNormatives{
    font-size: 9px;
    width: 280px;
    margin: auto;
    text-align: center;
    margin-top: 2px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credDivLogo{
    margin: auto;
    text-align: center;
    margin-top: 42px;
    width: 290px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credLogo{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 125px;
    margin: auto;
}

.credTransparent{
    color: transparent;
}









