

#certificateDiv{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 85%;
    margin: auto;
    border: var(--color1) solid 3px;
    border-top: var(--color1) solid 35px;
    border-bottom: var(--color1) solid 20px;
}

#certificateHeaderDiv{
    width: 100%;
    height: 15px;
    background-color: var(--color2);
    margin-bottom: 20px;
}

#certificateFooterDiv{
    width: 100%;
    height: 10px;
    background-color: var(--color2);
    margin-top: 15px;
}

#divCompanyLogo{
    text-align: center;
    position: relative;
}

#certificateCompanyLogo{
    height: 90px;

}

#certificateCompanyLogo2{
    position: absolute;
    height: 90px;
    left: 45px;
    top: 35px;

}

#divCertificateText{
    font-style: italic;
    line-height: 1.5;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    text-indent: 60px;

}

.certificateValidity{
    text-align: center;
}

#divCertificateLogo{
    margin-top: 30px;
    text-align: center;
}

#certificateLogo{
    height: 160px;
    margin: auto;
}